<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.Blog.dao.CommentMapper">

	 <resultMap id="comment" type="com.Blog.bean.Comment">
        <id property="id" column="id"/>
        <result property="nickname" column="nickname"/>
        <result property="email" column="email"/>
        <result property="content" column="content"/>
        <result property="adminComment" column="admincomment"/>
        <result property="avatar" column="avatar"/>
        <result property="createTime" column="create_time"/>
        <result property="blogId" column="blog_id"/>
        <result property="parentCommentId" column="parent_comment_id"/>
        <association property="blog" javaType="com.Blog.bean.Blog">
            <id property="id" column="id"/>
        </association>
    </resultMap>

    <select id="selectByBlogId" resultMap="comment">
        select c.*
        from t_comment c, t_blog b
        where c.blog_id = b.id and c.blog_id = #{blogId} 
        order by c.create_time desc
    </select>
    
    <insert id="addComment">
    	insert into t_comment (nickname,email,content,avatar,create_time,blog_id,parent_comment_id,admincomment)
    	values
    	(#{nickname},#{email},#{content},#{avatar},#{create_time},#{blog_id},#{parent_comment_id},#{admincomment})
    </insert>


</mapper>